<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="Y1005501449202-75837aem8g5hbo5eo5l2n085c9b57hgo.apps.googleusercontent.com">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Kang Bang!</title>
  </head>
<body>

    <div id="app">
        <section id="my-home-page" v-if="mainPage === 'home-page'">
             <!-- Get  Started Navbar -->
            <div id="start-navbar">
                <nav>     
                    <ul>
                        <a><img src="./img/logocopy.png" style="margin-top: 5px; width: 80%; height: auto; box-sizing: border-box;" @click="changePage('get-started-page')"></a>
                        <li><a href="#">Why Kang Bang?</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </div>
         
            <div id="start-container">
                <div class="my-container">
                    <!-- Sign In Page -->
                        <div class="my-home-form" v-if="page === 'sign-in-page'">
                            <form @submit.prevent="signin">
                                <h1>Sign In</h1>
                                    <input v-model="user.email" type="email" class="form-control" id="email-signin" style="text-align: center; border: 2px solid #174d65;" placeholder="Email Address">
                                    <div id="help-signin" class="form-text">We'll never share your email with anyone else.</div>
                                    <input v-model="user.password" type="password" class="form-control" id="password-signin" placeholder="Password" style="border: 2px solid #174d65; text-align: center; margin-bottom: 30px">
                                <div id="my-button-yes">
                                    <button class="btn btn-warning" id="open-signin">Sign In</button>
                                </div>
                                <h5 style="margin-bottom: 20px; text-align: center;">
                                    Or Sign In with Social Platforms
                                </h5>
                                <div class="my-google" style="text-align: center; display:flex; justify-content: center;">
                                    <div class="google">
                                        <div class="g-signin2" data-onsuccess="onSignIn" style="text-align: center;"></div>
                                    </div>
                                </div>
                                <div class="row-5" style="text-align: center;">
                                    <a class="btn btn-success" id="create-account" @click="changePage('sign-up-page')">Create Account</a>
                                </div>
                            </form>
                        </div>

                    <!-- Sign Up Page -->
                    <div class="my-home-form" v-else-if="page === 'sign-up-page'">
                        <form @submit.prevent="signup">
                            <h1>Sign Up</h1>
                                <input v-model="user.name" id="my-name" type="text" class="form-control" id="name-signup" style="text-align: center; border: 2px solid #174d65;" placeholder="Name">
                                <input v-model="user.email" type="email" class="form-control" id="email-signup" style="text-align: center; border: 2px solid #174d65;" placeholder="Email Address">
                                <div id="help-signup" class="form-text">We'll never share your email with anyone else.</div>
                                <input v-model="user.password" type="password" class="form-control" id="password-signup" placeholder="Password" style="border: 2px solid #174d65; text-align: center; margin-bottom: 30px">
                            <div id="my-button-signup">
                                <button type="submit" class="btn btn-primary" id="open-signin">Sign Up</button>
                            </div>
                            <h5 style="margin-bottom: 20px; text-align: center;">
                                Already have an account?
                            </h5>
                            <div id="my-button-yes">
                                <a  class="btn btn-warning" id="open-signin" @click="changePage('sign-in-page')">Sign In</a>
                            </div>
                        </form>
                    </div>
        

                    <!-- Get  Started Page -->
                    <div class="my-home" v-else-if="page === 'get-started-page'">
                        <h1 style="margin: 0">Keep Your</h1>
                        <h1 style="margin: 0">Daily Tasks On Track </h1>
                        <h1 style="margin: 0">with <span class="kang-bang-text">Kang Bang!</span></h1>
                        <a class="getting-started shadow-sm" @click="changePage('sign-in-page')">Get Started</a>
                        <p style="font-style: italic; color: gray; margin-bottom: 0.1rem;">"Your future is created by what you do today, </p>
                        <p style="font-style: italic; color: gray"> not tomorrow..."</p>
                    </div>
                        
                    <div class="image-parent">
                        <div class="image-design">
                            <div class="box-1 shadow my-hover-box">
                                <img src="./img/obj-1.png">
                            </div>
                            <div class="box-2 shadow my-hover-box">
                                <img src="./img/obj-2.png">
                            </div>
                            <div class="box-3 shadow my-hover-box">
                                <img src="./img/obj-3.png">
                            </div>
                            <div class="box-4 shadow my-hover-box">
                                <img src="./img/obj-4.png">
                            </div>
                        </div>
                        <div class="image-design">
                            <div class="box-3 shadow my-hover-box">
                                <img src="./img/obj-14.png">
                            </div>
                            <div class="box-10 shadow my-hover-box">
                                <img src="./img/obj-6.png">
                            </div>
                            <div class="box-2 shadow my-hover-box">
                                <img src="./img/obj-7.png">
                            </div>
                            <div class="box-8 shadow my-hover-box">
                                <img src="./img/obj-13.png">
                            </div>
                        </div>
                        <div class="image-design">
                            <div class="box-4 shadow my-hover-box">
                                <img src="./img/obj-11.png">
                            </div>
                            <div class="box-8 shadow my-hover-box">
                                <img src="./img/obj-8.png">
                            </div>
                            <div class="box-1 shadow my-hover-box">
                                <img src="./img/obj-5.png">
                            </div>
                            <div class="box-3 shadow my-hover-box">
                                <img src="./img/obj-12.png">
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </section>

        <section id="my-kanban-board" v-if="mainPage !== 'home-page'">
            <div class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" style="text-decoration: none; color: #174d65;">Home</a>
                    <img src="./img/logocopy.png" style="width: 80px; margin-left: 60px;">  
                    <li class="nav-item dropdown d-flex">
                        <a class="nav-link dropdown-toggle navbar-brand" style="text-decoration: none; color: #174d65;" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, Gian
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" @click="logout()">Log Out</a></li>
                        </ul>
                        </li>
                </div>
            </div>
            <div class="container">
                <div class="row" style="margin-bottom: 100px;">
                    <div class="col-3">
                        <div class="card" style="width: 19rem; padding-bottom: 15px; padding-top: 0px; height: 768px">
                            <h6 style="text-align: center; margin-bottom: 0px; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #174d65; color: white">Backlog</h6>
                            <button style="text-align: center; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; margin-top: 10px; margin-left: 1rem; margin-right: 1rem;" @click="showCreateFormBacklog()"><i class="fas fa-plus-circle"></i></button>
                            <div class="for-overflow" style="overflow: scroll;">
                                <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;" v-if="formTask === 'show-create-form-backlog'">
                                    <div class="card-body" style="background-color: #174d65;">
                                        <form @submit.prevent="createData">
                                            <div class="form-floating mb-1">
                                                <input v-model="task.title" type="text" class="form-control" id="floatingInput" placeholder="Title">
                                                <label for="floatingInput">Title</label>
                                            </div>
                                            <div class="form-floating mb-1">
                                                <input v-model="task.dueDate" type="date" class="form-control" id="floatingInput" placeholder="Due Date">
                                                <label for="floatingInput">Due Date</label>
                                            </div>    
                                            <div class="form-floating">
                                                <textarea v-model="task.description" class="form-control" placeholder="Leave a description here" id="floatingTextarea2" style="height: 100px;"></textarea>
                                                <label for="floatingTextarea2">Description</label>
                                            </div>
                                            <button type="submit" class="btn btn-warning" style="margin-top: 10px;">Add Task</button>
                                        </form>
                                    </div>
                                </div>
                                <div v-for="(item, idx) in taskList" :key="idx">
                                    <div v-if="item.Task.status ==='Backlog'">
                                        <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;">
                                            <div class="card-body">
                                              <p class="card-title" style="font-size: 14px; font-weight: 800;">{{ item.Task.title }}</p>
                                              <p style="margin: 0; font-size: 12px;">Deadline: {{ item.Task.dueDate.slice(0,10) }}</p>
                                              <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                                              <p class="card-text" style="font-size: 13px; margin-bottom: 0.5rem;">{{ item.Task.description }}</p>
                                              <div style="display: inline-block; width: 100%; text-align: right;">
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 3px;" @click="deleteData(item.Task.id)"><i class="fas fa-edit"></i></button>
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 4px;" @click="deleteData(item.Task.id)"><i class="fas fa-trash-alt"></i></button>
                                              </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div> 
                        </div>            
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 19rem; padding-bottom: 15px; padding-top: 0px; height: 768px">
                            <h6 style="text-align: center; margin-bottom: 0px; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #8ed2db; color: black">Todo</h6>
                            <button style="text-align: center; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; margin-top: 10px; margin-left: 1rem; margin-right: 1rem;" @click="showCreateFormTodo()"><i class="fas fa-plus-circle"></i></button>
                            <div class="for-overflow" style="overflow: scroll;">
                                <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;" v-if="formTask === 'show-create-form-todo'">
                                    <div class="card-body" style="background-color: #8ed2db;">
                                        <form @submit.prevent="createData">
                                            <div class="form-floating mb-1">
                                                <input v-model="task.title" type="text" class="form-control" id="floatingInput" placeholder="Title">
                                                <label for="floatingInput">Title</label>
                                            </div>
                                            <div class="form-floating mb-1">
                                                <input v-model="task.dueDate" type="date" class="form-control" id="floatingInput" placeholder="Due Date">
                                                <label for="floatingInput">Due Date</label>
                                            </div>    
                                            <div class="form-floating">
                                                <textarea v-model="task.description" class="form-control" placeholder="Leave a description here" id="floatingTextarea2" style="height: 100px;"></textarea>
                                                <label for="floatingTextarea2">Description</label>
                                            </div>
                                            <button type="submit" class="btn btn-warning" style="margin-top: 10px;">Add Task</button>
                                        </form>
                                    </div>
                                </div>
                                <div v-for="(item, idx) in taskList" :key="idx">
                                    <div v-if="item.Task.status ==='Todo'">
                                        <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;">
                                            <div class="card-body">
                                              <p class="card-title" style="font-size: 14px; font-weight: 800;">{{ item.Task.title }}</p>
                                              <p style="margin: 0; font-size: 12px;">Deadline: {{ item.Task.dueDate.slice(0,10) }}</p>
                                              <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                                              <p class="card-text" style="font-size: 13px; margin-bottom: 0.5rem;">{{ item.Task.description }}</p>
                                              <div style="display: inline-block; width: 100%; text-align: right;">
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 3px;" @click="deleteData(item.Task.id)"><i class="fas fa-edit"></i></button>
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 4px;" @click="deleteData(item.Task.id)"><i class="fas fa-trash-alt"></i></button>
                                              </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            
                        </div>            
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 19rem; padding-bottom: 15px; padding-top: 0px; height: 768px">
                            <h6 style="text-align: center; margin-bottom: 0px; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #e7d9bf; color: black">Doing</h6>
                            <button style="text-align: center; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; margin-top: 10px; margin-left: 1rem; margin-right: 1rem;" @click="showCreateFormDoing()"><i class="fas fa-plus-circle"></i></button>
                            <div class="for-overflow" style="overflow: scroll;">
                                <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;" v-if="formTask === 'show-create-form-doing'">
                                    <div class="card-body" style="background-color: #e7d9bf;">
                                        <form @submit.prevent="createData">
                                            <div class="form-floating mb-1">
                                                <input v-model="task.title" type="text" class="form-control" id="floatingInput" placeholder="Title">
                                                <label for="floatingInput">Title</label>
                                            </div>
                                            <div class="form-floating mb-1">
                                                <input v-model="task.dueDate" type="date" class="form-control" id="floatingInput" placeholder="Due Date">
                                                <label for="floatingInput">Due Date</label>
                                            </div>    
                                            <div class="form-floating">
                                                <textarea v-model="task.description" class="form-control" placeholder="Leave a description here" id="floatingTextarea2" style="height: 100px;"></textarea>
                                                <label for="floatingTextarea2">Description</label>
                                            </div>
                                            <button type="submit" class="btn btn-warning" style="margin-top: 10px;">Add Task</button>
                                        </form>
                                    </div>
                                </div>
                                <div v-for="(item, idx) in taskList" :key="idx">
                                    <div v-if="item.Task.status ==='Doing'">
                                        <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;">
                                            <div class="card-body">
                                              <p class="card-title" style="font-size: 14px; font-weight: 800;">{{ item.Task.title }}</p>
                                              <p style="margin: 0; font-size: 12px;">Deadline: {{ item.Task.dueDate.slice(0,10) }}</p>
                                              <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                                              <p class="card-text" style="font-size: 13px; margin-bottom: 0.5rem;">{{ item.Task.description }}</p>
                                              <div style="display: inline-block; width: 100%; text-align: right;">
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 3px;" @click="deleteData(item.Task.id)"><i class="fas fa-edit"></i></button>
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 4px;" @click="deleteData(item.Task.id)"><i class="fas fa-trash-alt"></i></button>
                                              </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            
                        </div>            
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 19rem; padding-bottom: 15px; padding-top: 0px; height: 768px">
                            <h6 style="text-align: center; margin-bottom: 0px; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #2d5942; color: white">Backlog</h6>
                            <button style="text-align: center; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; margin-top: 10px; margin-left: 1rem; margin-right: 1rem;" @click="showCreateFormDone()"><i class="fas fa-plus-circle"></i></button>
                            <div class="for-overflow" style="overflow: scroll;">
                                <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;" v-if="formTask === 'show-create-form-done'">
                                    <div class="card-body" style="background-color: #2d5942;">
                                        <form @submit.prevent="createData">
                                            <div class="form-floating mb-1">
                                                <input v-model="task.title" type="text" class="form-control" id="floatingInput" placeholder="Title">
                                                <label for="floatingInput">Title</label>
                                            </div>
                                            <div class="form-floating mb-1">
                                                <input v-model="task.dueDate" type="date" class="form-control" id="floatingInput" placeholder="Due Date">
                                                <label for="floatingInput">Due Date</label>
                                            </div>    
                                            <div class="form-floating">
                                                <textarea v-model="task.description" class="form-control" placeholder="Leave a description here" id="floatingTextarea2" style="height: 100px;"></textarea>
                                                <label for="floatingTextarea2">Description</label>
                                            </div>
                                            <button type="submit" class="btn btn-warning" style="margin-top: 10px;">Add Task</button>
                                        </form>
                                    </div>
                                </div>
                                <div v-for="(item, idx) in taskList" :key="idx">
                                    <div v-if="item.Task.status ==='Done'">
                                        <div class="card" style="width: 17rem; margin-left:auto; margin-right: auto; margin-bottom: 16px;">
                                            <div class="card-body">
                                              <p class="card-title" style="font-size: 14px; font-weight: 800;">{{ item.Task.title }}</p>
                                              <p style="margin: 0; font-size: 12px;">Deadline: {{ item.Task.dueDate.slice(0,10) }}</p>
                                              <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                                              <p class="card-text" style="font-size: 13px; margin-bottom: 0.5rem;">{{ item.Task.description }}</p>
                                              <div style="display: inline-block; width: 100%; text-align: right;">
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 3px;" @click="deleteData(item.Task.id)"><i class="fas fa-edit"></i></button>
                                                <button style="background-color: white; border-radius: 5px; padding: 1px 4px;" @click="deleteData(item.Task.id)"><i class="fas fa-trash-alt"></i></button>
                                              </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div> 
                        </div>            
                    </div>  
                </div>
            </div>
            <footer class="border-top p-1">
                  <div class="row mt-3 justify-content-between">
                      <p style="text-align: center; color: #174d65">All Rights Reserved by Gian Corps Copyright 2020.</p>
                  </div>
              </footer>
        </section>
       

    </div>
    
    <!-- Source Script -->  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script/script.js"></script>
</body>
</html>